$bgmain-color: rgb(10, 31, 68);
$textlight-color: rgb(255, 255, 255);
$textmed-color: rgb(83, 98, 124);
$textdark-color: rgb(30, 36, 50);
$primary-color: rgb(255, 30, 60);
$secondary-color: rgb(195, 17, 45);
$a-color: rgb(255, 140, 0);